body {
  font-family: arial;
  background-color: black;
}

.calci-button {
  padding: 10px 12px 8px;
  font-size: 40px;
  margin: 0;
  color: white;
}

.left-button {
  color: white;
  background-color: gray;
  border: none;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  font-size: 16px;
  margin-left: 10px;
}

.right-button {
  color: white;
  background-color: orange;
  border: none;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  font-size: 16px;
  margin-left: 10px;
}
