body {
  font-family: arial;
}
.toggle-button {
  background-color: rgb(230, 230, 230);
  border: none;
  padding: 12px 16px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.is-toggled {
  background-color: black;
  color: white;
}
