ody {
    background-color: beige;
}

button {
    background-color: aquamarine;
}

h1, h2 {
    color: darkslateblue;
}

#signUp {
    color: red;
}

span {
    color: blue;
}

.tag {
    color: green;
}

span a {
    color: black;
}