body {
    background-color: beige;
}

button {
    background-color: aquamarine;
}

h1, h2 {
    color: darkslateblue !important;
}

#signUp {
    color: red;
}

span {
    color: blue;
}

.tag {
    color: green;
}

.post a {
    color: black;
    text-decoration: none;
}

input + button {
    background-color: pink;
}

h2 + button {
    color: gray;
}

footer a {
    color: red;
}

footer > a {
    color: blue;
}

input[type = "password"] {
    color: yellow;
}

section[class = "post"] {
   
}

button:hover {
    background-color: red;
    color: whitesmoke;
}

.post a:hover {
    text-decoration: underline;
}

.post button:active {
    background-color: #92DCE5;
}

.post:nth-of-type(2n){
    background-color:#89608E;
}

h2::first-letter {
    font-size:50px
}

p::first-line {
    color: purple;
}

p::selection {
    background-color: black;
}

