<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Homepage</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae voluptatem aliquid eaque! Incidunt architecto, consequuntur commodi ratione doloremque nulla asperiores est eum veritatis dolorum quia! Ratione omnis pariatur rerum ipsam?</p>
    
    
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae voluptatem aliquid eaque! Incidunt architecto, consequuntur commodi ratione doloremque nulla asperiores est eum veritatis dolorum quia! Ratione omnis pariatur rerum ipsam?</p>

</body>
</html>