.req {
    font-family: arial;
    font-size: 30px;
}
.place1 {
    display: block;
    margin-bottom:10px;
    padding-top: 12px;
    padding-bottom:12px;
    padding-left: 16px;
    width:300px;
    font-size: 14px;
    background-color: rgb(231, 227, 227);
    border: none;
}
.place2 {
    display: block;
    padding-bottom:12px;
    padding-top:12px;
    padding-left:16px;
    margin-bottom:10px;
    width:300px;
    font-size:14px;
    border:none;
    background-color: rgb(231, 227, 227);
}

.req2 {
    background-color: black;
    color:white;
    border: none;
    padding-top:12px;
    padding-bottom:12px;
    padding-left:16px;
    padding-right:16px;
    margin-right:10px;
    margin-top:15px;
    cursor: pointer;
}

.schedule {
    background-color: rgb(231, 227, 227);
    color:black;
    border: none;
    padding-top:12px;
    padding-bottom:12px;
    padding-left:16px;
    padding-right:16px;
    cursor: pointer;
}