p {
    font-family: Roboto;
    text-align: center;
    margin-top:0;
    margin-bottom:0;
}

.new {
    color:red;
    font-size:16px;
    margin-bottom:10px;
}

.mac {
    font-weight: bold;
    font-size: 30px;
    margin-bottom:5px;
}

.super {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}

.from {
    font-size: 18px;
    margin-bottom:15px;
}

.but {
    background-color: blue;
    color:white;
    padding-top:6px;
    padding-bottom:6px;
    padding-left:16px;
    padding-right:16px;
    border-radius:16px;
    font-weight:bold;
    cursor:pointer
}
